.post-item__container{
  background-color: aquamarine;
  border: solid red 2px;
  margin: 35px;

  padding: 0 20px;
  font-family: 'Times New Roman', Times, serif;
}

.post-item__header{
  font-weight: 30px;
}

.post-item__body{
  font-weight: 14px;
}

.remove__button{
  margin-right: 0;
  margin-left: auto;
  margin-bottom: 10px;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 20px;
}
